<p>
  <strong>Company name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Company website:</strong>
  <%= @user.website %>
</p>

<p>
  <strong>Title of the vacancy:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Vancancy description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Location of Vancancy:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Contact e-mail:</strong>
  <%= @user.email %>
</p>
<div><%= link_to 'Go to All Registered', register_index_path %></div>