<div class="section description">
  <h4><%= selected_job.title %></h4>
  <div class="brand-company">
    <span class="brand-c"><%= selected_job.first_letter %></span>
    <div>
      <p><%= selected_job.name %></p>
      <p><%= selected_job.location %></p>
    </div>
  </div>
  <div class="divider"></div>
  <p class="access-time">
    <i class="material-icons">access_time</i><%= time_ago_in_words(selected_job.created_at) %>
  </p>
  <p><%= selected_job.description %></p>
  <div class="divider"></div>
  <h5><%= selected_job.name %></h5>
  <div class="divider"></div>
  <div class="description-btn">
    <%if user_signed_in? && current_user == selected_job.user %>
      <%= button_to "Edit", edit_job_path(selected_job.id), method: :get, class: 'btn blue accent-4' %>
      <%= button_to "Delete vacancy", job_path(selected_job.id), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn red accent-4' %>
    <%end%>
  </div>
<div>

