<%= form_for @job do |form| %>
  <% if @job.errors.any? %>
    <% @job.errors.full_messages.each do |msg| %>
      <p class="alert row"><%= msg %></p>
    <% end %>
  <% end %>
  <div class="input-field col s6">
    <i class="material-icons prefix">business</i>
    <%= form.label :name, 'Company name' %>
    <%= form.text_field :name %>
  </div>
  <div class="input-field col s6">
    <i class="material-icons prefix">insert_link</i>
    <%= form.label :website, 'Company website' %>
    <%= form.text_field :website %>
  </div>
  <div class="input-field col s12">
    <i class="material-icons prefix">work</i>
    <%= form.label :title, 'Vacancy title' %>
    <%= form.text_field :title %>
  </div>
  <div class="input-field col s12">
    <i class="material-icons prefix">description</i>
    <%= form.label :description, 'Vacancy dscription' %>
    <%= form.text_area(:description, class: "materialize-textarea") %>
  </div>
  <div class="input-field col s6">
    <i class="material-icons prefix">place</i>
    <%= form.label :location, 'Location' %>
    <%= form.text_field :location %>
  </div>
  <div class="input-field col s6">
    <i class="material-icons prefix">email</i>
    <%= form.label :email, 'Company email' %>
    <%= form.text_field :email %>
  </div>
  <%= button_tag(class: 'btn waves-effect waves-light') do %>
    Register <i class="material-icons right">send</i>
  <% end %>
<% end %>