<div class="container row">
  <h1>Registrar Vagas</h1>
  <%= form_with scope: :job, url: jobs_path, class: 'col s12', local: true do |form| %>
    <% if @jobs.errors.any? %>
      <% @jobs.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <% end %>
    <div class="row">
      <div class="input-field col s6">
        <%= form.label :name, 'Nome da empresa' %>
        <%= form.text_field :name %>
      </div>
      <div class="input-field col s6">
        <%= form.label :website, 'Site da empresa' %>
        <%= form.text_field :website %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= form.label :title, 'Título da vaga' %>
        <%= form.text_field :title %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= form.label :description, 'Descrição da vaga' %>
        <%= form.text_area :description %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= form.label :location, 'Local' %>
        <%= form.text_field :location %>
      </div>
      <div class="input-field col s6">
        <%= form.label :email, 'Email da empresa' %>
        <%= form.text_field :email %>
      </div>
    </div>
    <%= button_tag(class: 'btn waves-effect waves-light') do %>
      Registrar <i class="material-icons right">send</i>
    <% end %>
  <% end %>
</div>