  <ul class="collection">
    <% @users.each do |user| %>
      <li class="collection-item avatar vacancy-items">
        <%= link_to(register_index_path(id: user.id)) do %>
          <%= image_tag 'vacancy.jpg', class: 'circle' %>
          <span class="title title-vancancy"><%= user.title %></span>
          <p><%= user.name %></p>
          <p><%= user.location %></p>
          <p><%= user.website %></p>
          <p><%= user.email %></p>
          <p class="access-time"><i class="material-icons">access_time</i><%= time_ago_in_words(user.created_at) %></p>
          <span class="secondary-content"><i class="material-icons">grade</i></span>
        <% end %>
      </li>
    <% end %>
  </ul>
  