
<%= render './header' %>
<section class="container row">
  <div class="col s4">
    <% @users.each do |user| %>
      <div class="card">
        <div class="card-content">
          <h2 class="title-vancancy"><%= user.title %></h2>
          <p class="location"><%= user.location %></p>
          <p class="company-website"><%= user.website %></p>
          <p class="email"><%= user.email %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s8">
    
  </div>
</section>